{
  // "extends": [
  //   "@commitlint/config-conventional"
  // ],
  "rules": {
    "type-empty": [
      2,
      "never"
    ],
    "type-case": [
      2,
      "always",
      "lower-case"
    ],
    "header-max-length": [
      2,
      "never",
      72
    ],
    "type-enum": [
      2,
      "always",
      [
        "ts",
        "feat",
        "update",
        "fix",
        "conf",
        "optimize",
        "factor",
        "format",
        "doc"
      ]
    ]
  }
}
